{% extends "base.html" %}
{% block content %}

{% if message is not empty %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<!-- HUOM!!! Muokkaa kaikki #:t! -->

<br>
<a href='{{base_path}}/kayttajat'>Käyttäjät</a>

<h1>{{person.name}}</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Sähköposti</th>
            <th>Käytettävissä</th>
            <th>Luokitus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{person.email}}</td>
            <td style='text-align: center'>
                {% if person.active %}
                <label class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Available"></label>
                {% else %}
                <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Not available"></label>
                {% endif %}
            </td>
            <td style='text-align: center'> {% filter upper %}{{person.current_rights}}{% endfilter %}</td>
        </tr>
    </tbody> 
</table>
</br></br>

<strong>Kuvaus:</strong>
<p>{{person.description}}</p>
</br></br></br></br>

<!-- testaa onko admin tai oma sivu -->
{% if user_logged_in.current_rights == "admin" %}
<a href="{{base_path}}/kayttajat/{{person.id}}/muokkaa" class="btn btn-default" style='text-align: center'>Muokkaa</a>
{% endif %}

{% endblock %}