{% extends "base.html" %}
{% block content %}

<a href='{{base_path}}/kayttajat'>Käyttäjät</a>

<h1>{{person.name}}</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Sähköposti</th>
            <th>Käytettävissä</th>
            <th>Luokitus</th>
            <th>Ryhmät</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{person.email}}</td>
            <td style='text-align: center'>
                {% if person.active %}
                <label class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Available"></label>
                {% else %}
                <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Not available"></label>
                {% endif %}
            </td>
            <td style='text-align: center'> {% filter upper %}{{person.current_rights}}{% endfilter %}</td>
            <td style='text-align: center'> {% if groups.id is not null %} {% for group in groups %}, {% endfor %} {% else %} <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="No groups"></label> {% endif %}</td>
        </tr>
    </tbody> 
</table>
</br></br>

<strong>Kuvaus:</strong>
<p>{{person.description}}</p>
</br></br>

<h4>Tehtävät:</h4>
{% for task in tasks %}
<ul>
    <li><a href="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}">{{task.name}}</a></li>
</ul>
{% endfor %}
</br></br>

<!-- testaa onko admin tai oma sivu -->
{% if user_logged_in.current_rights == "admin" or user_logged_in.id == person.id %}
<a href="{{base_path}}/kayttajat/{{person.id}}/muokkaa" class="btn btn-default" style='text-align: center'>Muokkaa</a>
{% endif %}

{% endblock %}