{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! -->
<a class="btn btn-default" href="{{base_path}}/kayttajat/uusikayttaja">Uusi käyttäjä</a>

<br>
{% if message is not empty %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<br>
<h3>#Kaikki käyttäjät</h3>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Sähköposti</th>
            <th>Käytettävissä</th>
            <th>Luokitus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for person in persons %}
        <tr>
            <td><a href="{{base_path}}/kayttajat/{{person.id}}">{{person.name}}</td>
            <td>{{person.email}}</td>
            <td style='text-align: center'>
                {% if person.active %}
                <label class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Available"></label>
                {% else %}
                <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Not available"></label>
                {% endif %}
            </td>
            <td style='text-align: center'> {% filter upper %}{{person.current_rights}}{% endfilter %}</td>
            <td>{% if person.active %}
                <a href="#" class="btn btn-success" style='text-align: center'>Lähetä viesti</a>
                {% else %}
                <form method="post" action="{{base_path}}/kayttajat/{{person.id}}/poista" >
<!--                    <a class="btn btn-danger" type="submit" style='text-align: center'>Poista</a>
                </form>-->
                <div class="form-group">
                    <button type=submit class="btn btn-danger">Poista</button>
                </div></form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody> 
</table>

{% endblock %}