{% extends "base.html" %}
{% block content %}

{% if user_logged_in.current_rights=="admin" %}
<a class="btn btn-default" href="{{base_path}}/uusikayttaja">Uusi käyttäjä</a>
{% endif %}

<br><br><br>
<h2 id="user">Käyttäjät</h2>
<br><br>

{% if pages > 1 %}
<nav>
    <ul class="pagination">
        <li class="{% if not prev_page %}disabled{% endif %}"><a href="{{base_path}}/kayttajat?page={{prev_page}}">
                <span  class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span></a></li>
        {% for page in 1..pages %}
        <li class="{% if curr_page == page %}active{% endif %}"><a href="{{base_path}}/kayttajat?page={{page}}">{{page}}</a></li>
        {% endfor %}
        <li class="{% if not next_page %}disabled{% endif %}"><a href="{{base_path}}/kayttajat?page={{next_page}}">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span></a></li>
    </ul>
</nav>
{% endif %}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Nimi</th>
            <th>Sähköposti</th>
            <th>Käytettävissä</th>
            <th>Luokitus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for person in persons %}
        <tr>
            <td id="index">{{loop.index + (page-1) * page_size}}</td>
            <td><a href="{{base_path}}/kayttajat/{{person.id}}">{{person.name}}</td>
            <td>{{person.email}}</td>
            <td style='text-align: center'>
                {% if person.active %}
                <label class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Available"></label>
                {% else %}
                <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Not available"></label>
                {% endif %}
            </td>
            <td style='text-align: center'> {% filter upper %}{{person.current_rights}}{% endfilter %}</td>
            <td>{% if person.active %}
                <!--<a href="#" class="btn btn-success" style='text-align: center'>Lähetä viesti</a>-->
                {% elseif user_logged_in and user_logged_in.current_rights=="admin" %}
                <form method="post" action="{{base_path}}/kayttajat/{{person.id}}/poista" class='delete-form' data-confirm='Haluatko varmasti poistaa henkilön {{person.name}}?'>
                    <button type=submit class="btn btn-danger">Poista</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody> 
</table>    

{% endblock %}