{% extends "base.html" %}
{% block content %}
<h1>Muokkaa käyttäjän {{person.name}} tietoja</h1>

{% if errors %}
<div class='alert alert-danger'>
    {% for error in errors %}
    <ul>   
        <li>{{error}}</li>        
    </ul>
    {% endfor %}
</div>
{% endif %}

<form method='post' action='{{base_path}}/kayttajat/{{person.id}}/muokkaa'>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control">{{attributes.name}}
    </div>
    <div class="form-group">
        <label>Käytettävissä</label>
        <input type="text" class="form-control">{{attributes.active}}
    </div>
    <div class="form-group">
        <label>Oikeudet</label>
        <input type="text" class="form-control">{% filter upper %}{{attributes.current_rights}}
        {% endfilter %}
    </div>
    <!--    <div>
            <p>{{person.active}}</p>
            <p>{{person.current_rights}}</p>
        </div>-->
    <!--listää tähän ryhmät-->
    <a href="{{base_path}}/kayttajat/{{person.id}}" class="btn btn-warning col-xs-1">Peruuta</a>
    <div class="form-group col-xs-1">
        <button type=submit class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}