{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

{% if person.id==null %}
<!--$uusi=true;-->
<h1>Lisää uusi käyttäjä</h1>
<form method='post' action='{{base_path}}/uusikayttaja'>
    {% else %}
    <h1>Muokkaa käyttäjän {{person.name}} tietoja</h1>
    <form method='post' action='{{base_path}}/kayttajat/{{person.id}}/muokkaa'>
        {% endif %}

        {{forms.name(null, "#{person.name}")}}
        {{forms.pssw(null, "#{person.password}")}}
        {{forms.email(null, "#{person.email}")}} 
        {{forms.desc(null, "#{person.description}")}} 

        {% if user_logged_in.current_rights == "admin" %}
        <div class="form-group">
            <label for='rights'>{{label|default('Oikeudet')}}</label>
            <select id="rts" class='form-control' name='current_rights'>
                <script>
                    var select = document.getElementById("rts");
                    var visitor = document.createElement("option");
                    var intern = document.createElement("option");
                    var worker = document.createElement("option");
                    var admin = document.createElement("option");
                    visitor.textContent = "Vierailija";
                    visitor.value = "visitor";
                    intern.textContent = "Harjoittelija";
                    intern.value = "intern";
                    worker.textContent = "Työntekijä";
                    worker.value = "worker";
                    admin.textContent = "Admin";
                    admin.value = "admin";
                    if ('{{person.current_rights}}' === 'visitor') {
                        visitor.selected = true;
                    }
                    if ('{{person.current_rights}}' === 'intern') {
                        intern.selected = true;
                    }
                    if ('{{person.current_rights}}' === 'worker') {
                        worker.selected = true;
                    }
                    if ('{{person.current_rights}}' === 'admin') {
                        admin.selected = true;
                    }
                    select.appendChild(visitor);
                    select.appendChild(intern);
                    select.appendChild(worker);
                    select.appendChild(admin);
                </script>
            </select>
        </div>

        <div class="form-group">
            <label>Aktiivisuus</label>
            <select  id="act" class='form-control' name="active">
                <script>
                    var select = document.getElementById("act");
                    var el1 = document.createElement("option");
                    var el2 = document.createElement("option");
                    el1.textContent = "Käytettävissä";
                    el1.value = "true";
                    el2.textContent = "Ei käytettävissä";
                    el2.value = "false";
                    if ('{{person.active}}' == true) {
                        el1.selected = true;
                    } else {
                        el2.selected = true;
                    }
                    select.appendChild(el1);
                    select.appendChild(el2);
                </script>
            </select>
        </div>
        {% endif %}

        {{forms.cancel_save("#{base_path}/kayttajat/#{person.id}")}}

    </form>
    {% endblock %}