{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! -->

<img src="tsoha/assetts/img/man.png" alt="picture_of_me" class="img-rounded">

<h1>{{person.name}}</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Sähköposti</th>
            <th>Käytettävissä</th>
            <th>Luokitus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{person.email}}</td>
            <td style='text-align: center'>
                {% if person.active %}
                <label class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Available"></label>
                {% else %}
                <label class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Not available"></label>
                {% endif %}
            </td>
            <td style='text-align: center'> {% filter upper %}{{person.current_rights}}{% endfilter %}</td>
        </tr>
    </tbody> 
</table>
</br></br>

<strong>Kuvaus:</strong>
<p>{{person.description}}</p>
</br></br></br></br>
<a href="{{base_path}}/kayttajat/{{person.id}}/muokkaa" class="btn btn-default" style='text-align: center'>Muokkaa</a>
</br></br>
<!--<h3>###Omat projektit</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Projekti</th>
            <th>Valmiina %</th>
            <th>Kuvaus</th>
            <th>Tehtävät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
         Projektit 
        <tr class="danger">
            <td><a href="{{base_path}}/projektit/{{id}}">Laskentasivut</a></td>
            <td>33 %</td>
            <td>Nettisivut kalanviljelylaitosten keskusviraston talousosastolle</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tehtavalista" data-toggle="dropdown">Omat tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tehtavalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/tsoha/projektit/1">Sisällöntuotanto</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
        </tr>
        <tr class="success">
            <td><a href="#">Varastonhallintasovellus</a></td>
            <td>7 %</td>
            <td>Ikean lähettämön tilaustenkeräilyohjelma</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tehtavalista" data-toggle="dropdown">Omat tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tehtavalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/tsoha/projektit/1">Keräily</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
        </tr>-->
<!--    </tbody>
</table>-->
{% endblock %}