{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi käyttäjä</h1>

<form method='post' action='{{base_path}}/kayttajat'>
    <div class="form-group">
        <label for='active'>Aktiivisuus</label>
        <select class='form-control' name='active'>
            <option value='true'>Käytettävissä</option>
            <option value='false'>Ei käytettävissä</option>
        </select>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name='name' class="form-control" value="{{person.name}}">
    </div>
    <div class="form-group">
        <label>Sähköposti</label>
        <input type="email" name= 'email' class="form-control" value="{{person.email}}">
    </div>
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" name='password' class="form-control" value="{{person.password}}">
    </div>
    <div class="form-group">
        <label for='rights'>Oikeudet</label>
        <select class='form-control' name='current_rights'>
            <option value='visitor'>Vierailija</option>
            <option value='intern'>Harjoittelija</option>
            <option value='worker'>Työntekijä</option>
            <option value='admin'>Admin</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}