<!--progress bar-->
{% macro progresbar(base_path, id, name, fin, underway, late) %}
<h3><a href='{{base_path}}/projektit/{{id}}'>{{name}}</a></h3>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{fin}}%" aria-valuemin="0" aria-valuemax="100">
        Valmiina
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{underway}}%"  aria-valuemin="0" aria-valuemax="100">
        Työn alla
    </div>
    <!--        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{sub.pending}}%">
                Odottaa
            </div>-->
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{late}}%"  aria-valuemin="0" aria-valuemax="100">
        Myöhässä
    </div>
</div>
{% endmacro %}

<!-- buttons -->
<!-- peruuta ja tallenna -->
{% macro cancel_save(href, cancel_text, save_text) %}
<a href={{href}} class="btn btn-warning col-xs-1">{{cancel_text|default('Peruuta')}}</a>
<div class="form-group col-xs-1">
    <button type=submit class="btn btn-primary">{{save_text|default('Tallenna')}}</button>
</div>
{% endmacro %}

<!-- lomakkeen osat Huom!! form-tagien sisään! -->
<!-- nimi, salasana, email, kuvaus -->
{% macro name(name_label, namevalue) %}
<div class="form-group">
    <label>{{name_label|default('Nimi')}}</label>
    <input type="text" name='name' class="form-control" value="{{namevalue}}">
</div>
{% endmacro %}

{% macro pssw(pssw_label, psswvalue) %}
<div class="form-group">
    <label>{{pssw_label|default('Salasana')}}</label>
    <input type="password" name='password' class="form-control" value="{{psswvalue}}">
</div>
{% endmacro %}

{% macro email(email_label, emailvalue) %}
<div class="form-group">
    <label>{{email_label|default('Sähköposti')}}</label>
    <input type="email" name='email' class="form-control" value="{{emailvalue}}">
</div>
{% endmacro %}

{% macro desc(desc_label, desc_value) %}
<div class="form-group">
    <label>{{desc_label|default('Kuvaus')}}</label>
    <textarea name='description' class="form-control" rows="5">{{desc_value}}</textarea>
</div>
{% endmacro %}

<!-- käytettävissä -->
{% macro active(label, name_true, name_false) %}
<div class="form-group">
    <label>{{label|default('Aktiivisuus')}}</label>
    <select id="act" class='form-control' name="active">
        <option id="t" value='true'>{{name_true|default('Käytettävissä')}}</option>
        <option id="f" value='false'>{{name_false|default('Ei käytettävissä')}}</option>
    </select>
</div>
{% endmacro %}

<!--oikeudet -->
{% macro rights(label, visitor, intern, worker, admin) %}
<div class="form-group">
    <label for='rights'>{{label|default('Oikeudet')}}</label>
    <select class='form-control' name='current_rights'>
        <option value='visitor'>{{visitor|default('Vierailija')}}</option>
        <option value='intern'>{{intern|default('Harjoittelija')}}</option>
        <option value='worker'>{{worker|default('Työntekijä')}}</option>
        <option value='admin'>{{admin|default('Admin')}}</option>
    </select>
</div>
{% endmacro %}


