
<!-- buttons -->
<!-- peruuta ja tallenna -->
{% macro cancel_save(href, cancel_text, save_text) %}
<a href={{href}} class="btn btn-warning col-xs-1">{{cancel_text|default('Peruuta')}}</a>
<div class="form-group col-xs-1">
    <button type=submit class="btn btn-primary">{{save_text|default('Tallenna')}}</button>
</div>
{% endmacro %}

<!-- lomakkeen osat Huom!! form-tagien sisään! -->
<!-- nimi, salasana, email, kuvaus -->
{% macro name(name_label, namevalue) %}
<div class="form-group">
    <label>{{name_label|default('Nimi')}}</label>
    <input type="text" name='name' class="form-control" value="{{namevalue}}">
</div>
{% endmacro %}

{% macro pssw(pssw_label, psswvalue) %}
<div class="form-group">
    <label>{{pssw_label|default('Salasana')}}</label>
    <input type="password" name='password' class="form-control" value="{{psswvalue}}">
</div>
{% endmacro %}

{% macro email(email_label, emailvalue) %}
<div class="form-group">
    <label>{{email_label|default('Sähköposti')}}</label>
    <input type="email" name='email' class="form-control" value="{{emailvalue}}">
</div>
{% endmacro %}

{% macro desc(desc_label, desc_value) %}
<div class="form-group">
    <label>{{desc_label|default('Kuvaus')}}</label>
    <textarea name='description' class="form-control" rows="5">{{desc_value}}</textarea>
    <input type="hidden" name="active" value="{{person.active}}">
    <input type="hidden" name="current_rights" value="{{person.rights}}">
</div>
{% endmacro %}

<!-- käytettävissä -->
{% macro active(label, name_true, name_false) %}
<div class="form-group">
    <label>{{label|default('Aktiivisuus')}}</label>
    <select id="act" class='form-control' name="active">
        <option id="t" value='true'>{{name_true|default('Käytettävissä')}}</option>
        <option id="f" value='false'>{{name_false|default('Ei käytettävissä')}}</option>
    </select>
    <script>
        var options = $('#act option');
    </script>
</div>
{% endmacro %}

<!--oikeudet -->
{% macro rights(label, visitor, intern, worker, admin) %}
<div class="form-group">
    <label for='rights'>{{label|default('Oikeudet')}}</label>
    <select class='form-control' name='current_rights'>
        <option value='visitor'>{{visitor|default('Vierailija')}}</option>
        <option value='intern'>{{intern|default('Harjoittelija')}}</option>
        <option value='worker'>{{worker|default('Työntekijä')}}</option>
        <option value='admin'>{{admin|default('Admin')}}</option>
    </select>
</div>
{% endmacro %}


