
{% extends "base.html" %}
{% block content %}
<!-- progress bar code from www.cssscript.com/pure-css-circular-percentage-bar  -->
<div class="row">    
    <div class="c100 p25 big red">
        <span>25%</span>
        <div class="circle">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <div class="c100 p25 big orange">
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <div class="c100 p25 big dark">
        <span>0%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
</div>

{% endblock %}