{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! -->

<!-- Lisää kuva! <img src="" alt="" class="img-rounded"> -->
<h1>#Nimi</h1>
<strong>Nimike</strong>
<p>Kuvaus</p>

<button type="button" class="btn btn-default">Muokkaa</button>

<h3>###Omat projektit</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Tehtävät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Projektit -->
        <tr class="danger">
            <td><a href="http://madufva.users.cs.helsinki.fi/tsoha/projekti">Sivupohjat</a></td>
            <td>Nettisivut kalanviljelylaitosten keskusviraston talousosastolle</td>
            <th><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Omat tehtävät
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML & CSS</a></li>  
                    <li><a href="#">Nojailu</a></li>
                </ul>
            </th>
        </tr>
    </tbody>
</table>
{% endblock %}