{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! -->

<img src="/assetts/img/man.png" alt="picture_of_me" class="img-rounded img-responsive">
<h1>#Nimi</h1>
<strong>Nimike</strong>
<p>Kuvaus</p>

<button type="button" class="btn btn-default">Muokkaa</button>

<h3>###Omat projektit</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Projekti</th>
            <th>Valmiina %</th>
            <th>Kuvaus</th>
            <th>Tehtävät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Projektit -->
        <tr class="danger">
            <td><a href="/tsoha/projektit/1">Laskentasivut</a></td>
            <td>33 %</td>
            <td>Nettisivut kalanviljelylaitosten keskusviraston talousosastolle</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tehtavalista" data-toggle="dropdown">Omat tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tehtavalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/tsoha/projektit/1">Sisällöntuotanto</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
        </tr>
        <tr class="success">
            <td><a href="#">Varastonhallintasovellus</a></td>
            <td>7 %</td>
            <td>Ikean lähettämön tilaustenkeräilyohjelma</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tehtavalista" data-toggle="dropdown">Omat tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tehtavalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/tsoha/projektit/1">Keräily</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
        </tr>
    </tbody>
</table>
{% endblock %}