{% extends "base.html" %}
{% block content %}
<h1>Keskeneräiset tehtävät</h1>

<!-- progress bar code from www.cssscript.com/pure-css-circular-percentage-bar -->
<link rel="stylesheet" href="css/circle.css">
<div class="c100 p25 big red">
    <span>25%</span>
    <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
    </div>
</div>

<h2>Bootstrap-projekti</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Linkki</th>
            <th>Deadline</th>
            <th>Kuvaus</th>
            <th>Tekijät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan tämän projektin omat tehtavat tähän, keskeneräiset ylimmäksi -->
        <tr class="danger">
            <td><a href="http://madufva.users.cs.helsinki.fi/tsoha/tehtava">Kolmas tehtävä</a></td>
            <td>23.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Anna-Mari, Sanna-Kari, Hanna-Jari</th>
            <th><a class="btn btn-success">Merkitse valmiiksi</a></th>
        </tr>
        <tr class="success">
            <td><a href="http://madufva.users.cs.helsinki.fi/tsoha/tehtava">Eka tehtävä</a></td>
            <td>13.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Anna, Sanna, Hanna</th>
            <th></th>
        </tr>
        <tr class="success">
            <td><a href="http://madufva.users.cs.helsinki.fi/tsoha/tehtava">Toka tehtävä</a></td>
            <td>2.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Mari, Kari, Jari</th>
            <th></th>
        </tr>
    </tbody>
</table>
{% endblock %}