{% extends "base.html" %}
{% block content %}
<h1>Keskeneräiset tehtävät</h1>

<h2>Bootstrap-projekti</h2>
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:40%">
        Valmiina
    </div>
    <div class="progress-bar progress-bar-warnin progress-bar-striped" role="progressbar" style="width:10%">
        Työn alla
    </div>
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width:20%">
        Myöhässä
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Linkki</th>
            <th>Deadline</th>
            <th>Kuvaus</th>
            <th>Tekijät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan tämän projektin omat tehtavat tähän, keskeneräiset ylimmäksi -->
        <tr class="danger">
            <td><a href="http://madufva.users.cs.helsinki.fi/tsoha/tehtava">Kolmas tehtävä</a></td>
            <td>23.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Anna-Mari, Sanna-Kari, Hanna-Jari</th>
            <th><a class="btn btn-success">Merkitse valmiiksi</a></th>
        </tr>
        <tr class="success">
            <td><a href="/tsoha/tehtava">Eka tehtävä</a></td>
            <td>13.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Anna, Sanna, Hanna</th>
            <th></th>
        </tr>
        <tr class="success">
            <td><a href="/tsoha/tehtava">Toka tehtävä</a></td>
            <td>2.3.2017</td>
            <th>Lyhyt kuvaus</th>
            <th>Mari, Kari, Jari</th>
            <th></th>
        </tr>
    </tbody>
</table>
{% endblock %}