{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! Hae automaattisesti h1, h5, tehtävät -->
<!-- toiminta nappeihin yhteydenotto, poista, muokkaa, lisää tekijä -->

<h1>#Projektin nimi</h1>
<h5>Projektipäällikkö Karianne</h5> <button type="button" class="btn btn-success">#Lähetä viesti</button>

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:20%">
        Valmiina
    </div>
    <div class="progress-bar progress-bar-warnin" role="progressbar" style="width:13%">
        Työn alla
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:56%">
        Myöhässä
    </div>
</div>

<h3>###Kuvaus</h3>
<strong>Tässä on lyhyt kuvaus</strong>
<p>Tarkka kuvaus</p>
<button type="button" class="btn btn-default">Muokkaa</button>

<h3>###Tehtävät</h3>
<button type="button" class="btn btn-default">Lisää tehtävä</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Tekijät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Projektin tehtävät -->
        <tr class="danger">
            <td><a href="/tsoha/tehtava">Sivupohjat</a></td>
            <td>Tärkeimpien sivupohjien html5 ja css</td>
            <th>Sanna ja Janna</th>
            <th><a class="btn btn-success">Merkitse valmiiksi</a></th>
        </tr>
        <tr class="danger">
            <td><a href="/tsoha/tehtava">Sisällöntuotanto</a></td>
            <td>Reiska keksii sisältöä</td>
            <th>Reiska</th>
            <th><a class="btn btn-success">Merkitse valmiiksi</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}