{% extends "base.html" %}
{% block content %}

<!-- HUOM!!! Muokkaa kaikki #:t! -->
<button type="button" class="btn btn-default">Uusi projekti</button>

<h3>#Aktiiviset projektit</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Tehtävät</th>
            <th>Tekijät</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Projektit -->
        <tr class="danger">
            <td><a href="/tsoha/projektit/1">Laskentasivut</a></td>
            <td>Nettisivut kalanviljelylaitosten keskusviraston talousosastolle</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="projektilista" data-toggle="dropdown">Tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="projektilissta">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML & CSS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sisällöntuotanto</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tekijalista" data-toggle="dropdown">Tekijät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tekijalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Jaana</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Saana</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reiska</a></li>
                    </ul>
                </div>
            </th>
            <th><th><a class="btn btn-success">Lisää tehtävä</a></th>
        </tr>
        <tr class="success">
            <td><a href="#">Varastonhallintasovellus</a></td>
            <td>Ikean lähettämön tilaustenkeräilyohjelma</td>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="projektilista" data-toggle="dropdown">Tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="projektilissta">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tietokannat</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Arkkitehtuuri</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nojailu</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="tekijalista" data-toggle="dropdown">Tekijät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tekijalista">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Jaana</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Saana</a></li>
                    </ul>
                </div>
            </th>
            <th><th><a class="btn btn-success">Lisää tehtävä</a></th>
        </tr>
</table>
{% endblock %}