{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <!-- KATSEENVANGITSIJA -->  
    <div class="jumbotron">
        <h1>Bootstrap & Projektit</h1> 
        <p>Tehokkaan nojailun edelläkävijä</p> 
        <p class="text-muted">Hullu paljon työtä tekee, viisas pääsee vähemmällä.</p> 
    </div>   

    <!-- PROJEKTIEN EDISTYMISKUVAAJAT -->
    <h3>Laskentaprojekti</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:90%">
            Valmiina
        </div>
        <div class="progress-bar progress-bar-warnin" role="progressbar" style="width:10%">
            Työn alla
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width:0%">
            Myöhässä
        </div>
    </div>
    <h3>Ikea-projekti</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
            Valmiina
        </div>
        <div class="progress-bar progress-bar-warnin" role="progressbar" style="width:10%">
            Työn alla
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
            Myöhässä
        </div>
    </div>
    <h3>Tietokantatyö</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:20%">
            Valmiina
        </div>
        <div class="progress-bar progress-bar-warnin" role="progressbar" style="width:13%">
            Työn alla
        </div>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:56%">
            Myöhässä
        </div>
    </div>


    <br> <br> <br>
    <!-- linkkinappulat -->
    <a href="{{base_path}}/kayttajat/1" class="btn btn-info btn-lg col-xs-3">
        <span class="glyphicon glyphicon-user"></span> Oma sivu                   
    </a>
    <a href="{{base_path}}/kayttajat" title="Käyttäjät" class="btn btn-success btn-lg col-xs-3">
        <span class="glyphicon glyphicon-user"></span> 
        <span class="glyphicon glyphicon-user"></span> Käyttäjät
    </a>
    <a href="{{base_path}}/projektit" class="btn btn-warning btn-lg col-xs-3">
        <span class="glyphicon glyphicon-th-large"></span> Projektit
    </a>
    <a href="{{base_path}}/projektit/omattehtavat" class="btn btn-danger btn-lg col-xs-3">
        <span class="glyphicon glyphicon-th-list"></span> Tehtävät
    </a>
</div>
{% endblock %}