{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<div class="container-fluid">
    <!-- KATSEENVANGITSIJA -->  
    <div class="jumbotron">
        <h1>Bootstrap & Projektit</h1> 
        <p>Tehokkaan nojailun edelläkävijä</p> 
        <p class="text-muted">Hullu paljon työtä tekee, viisas pääsee vähemmällä.</p> 
    </div>   

    <h1>Valmistuvat projektit</h1>
    <br>
    <!-- PROJEKTIEN EDISTYMISKUVAAJAT -->
    {% for project in projects %}
    {% set subcategories = project.sub %}
    {% for sub in project %}
    {{forms.progresbar("#{base_path}", "#{sub.id}", "#{sub.name}", "#{sub.finished}", "#{sub.underway}", "#{sub.late}")}}
    {% endfor %}
    {% endfor %}
    {% endblock %}