{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <!-- KATSEENVANGITSIJA -->  
    <div class="jumbotron">
        <h1>Bootstrap & Projektit</h1> 
        <p>Tehokkaan nojailun edelläkävijä</p> 
        <p class="text-muted">Hullu paljon työtä tekee, viisas pääsee vähemmällä.</p> 
    </div>   

    <h1>Valmistuvat projektit</h1>
    <br>
    <!-- PROJEKTIEN EDISTYMISKUVAAJAT -->
    {% for project in projects %}
    <h3><a href='{{base_path}}/projektit/{{project.id}}'>{{project.name}}</a></h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{project.finished}}%" aria-valuemin="0" aria-valuemax="100">
            Valmiina
        </div>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{project.underway}}%"  aria-valuemin="0" aria-valuemax="100">
            Työn alla
        </div>
        <!--        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{project.pending}}%">
                    Odottaa
                </div>-->
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{project.late}}%"  aria-valuemin="0" aria-valuemax="100">
            Myöhässä
        </div>
    </div>
    {% endfor %}
    {% endblock %}