{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

{% if project.id==null %}
<h1>Lisää uusi projekti</h1>
<form method='post' action='{{base_path}}/projektit/uusiprojekti'>
    {% else %}
    <h1>Muokkaa projektin {{project.name}} tietoja</h1>
    <form method='post' action='{{base_path}}/projektit/{{project.id}}/muokkaa'>
        {% endif %}
        <br>

        {% if project.late %}
        <label class="label label-danger">Myöhässä</label>
        {% endif %}
        <br><br>

        <div class="form-group">
            <label>Nimi</label>
            <input type="text" name='name' class="form-control" value="{{project.name}}">
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <input type="text" name='description' class="form-control" value="{{project.description}}">
        </div>

        <div class="form-group">
            <label>projektipäällikkö</label>
            <select  id="mangr" class='form-control' name="manager">
                <script>
                    var select = document.getElementById("mangr");
                </script>
                {% for manager in managers %}
                <script>
                    var manager = document.createElement("option");
                    manager.textContent = '{{manager.name}}';
                    manager.value = '{{manager.id}}';
                    if ('{{project.manager}}' === '{{manager.id}}') {
                        manager.selected = true;
                    }
                    select.appendChild(manager);
                </script>
                {% endfor %}
            </select>
        </div>     

        <!--Koska Firefox ei tunne date-tyyppiä:-->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
        <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
        <script>
                    webshims.setOptions('forms-ext', {types: 'date'});
                    webshims.polyfill('forms forms-ext');
                    $.webshims.formcfg = {
                        en: {
                            dFormat: '/',
                            dateSigns: '/',
                            orientation: "auto",
                        }
                    };
        </script>

        <div class="form-group">
            <label>Aloituspäivä</label><br>
            <input type="date" name='start_date' class="form-group-sm" value="{{project.start_date}}"  placeholder='dd/mm/yyyy'>
        </div>
        <div class="form-group">
            <label>Deadline</label><br>
            <input type="date" name='deadline' class="form-group-sm" value="{{project.deadline}}"  placeholder='dd/mm/yyyy'>
        </div>


        {{forms.cancel_save("#{base_path}/projektit/#{project.id}")}}

    </form>
    {% endblock %}
