{% extends "base.html" %}
{% block content %}

{% if user_logged_in.current_rights=="admin" %}
<a class="btn btn-default" href="{{base_path}}/projektit/uusi">Uusi projekti</a>
{% endif %}

<br><br><br>
<h2 id="project">Projektit</h2>
<br><br>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Nimi</th>
            <th>Tila</th>
            <th>Kuvaus</th>
            <th>Tehtävät</th>
            <th>Tekijät</th>
            <th>Projektipäällikkö</th>
        </tr>
    </thead>

    <tbody>
        {% set name="test" %}
        {% for project in projects if project.name!=name %}
        {% set name=project.name %} 
        {% set taskArray = [] %}
        {% set personArray = [] %}
        <!-- Projektit -->
        <tr>
            <td id="index">{{loop.index}}</td>
            <td><a href="{{base_path}}/projektit/{{project.id}}">{{project.name}}</a></td>
            <td>
                {% if project.approved %}
                <label class="label label-success">Valmis</label>
                {% elseif project.late %}
                <label class="label label-danger">Myöhässä!</label>
                {% else %}
                <label class="label label-primary">Työn alla</label>
                {% endif %}
            </td>
            <td>{{project.description}}</td>
            <th>
                <!--Tehtävät-->
                {% if project.task_name!=null %}
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="projektilista" data-toggle="dropdown">Tehtävät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tehtavalista">
                        {% for project in projects if project.name==name %}
                        <!--{% if project.task_id not in taskArray %}-->
                        <li><a href="{{base_path}}/projektit/{{project.id}}/tehtava/{{project.task_id}} ">
                                {% if project.task_approved %}<span class="glyphicon glyphicon-check pull-right "></span>
                                {% elseif project.task_late %}<span class="glyphicon glyphicon-exclamation-sign pull-right "></span>
                                {% endif %}
                                <span class="dropdown-link-text">{{project.task_name}} </a></li> 
                        <!--{% set taskArray = taskArray|merge([project.task_id]) %}-->
                        <!--{% endif %}-->
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </th>
            <th>
                <!--Tekijät-->
                {% if project.worker!=null %}
                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" id="tekijalista" data-toggle="dropdown">Tekijät
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="tekijalista">
                        {% for project in projects if project.name==name %}
                        {% if project.worker not in personArray %}
                        <li><a href="{{base_path}}/kayttajat/{{project.worker}}">{{project.person_name}}</a></li>
                        {% set personArray = personArray|merge([project.worker]) %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </th>
            <th style="text-align: left"><a href="{{base_path}}/kayttajat/{{project.manager}}" >{{project.manager_name}}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br><br>
<!-- Vanhat projektit -->
{% if old_projects != null %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Valmiit projektit</a>
            </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nimi</th>
                            <th>Kuvaus</th>
                            <th>Projektipäällikkö</th>
                            <th>Aloituspäivä</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>  
                        {% for old_project in old_projects %}
                        <tr>
                            <td id="index">{{loop.index}}</td>
                            <td><a href="{{base_path}}/projektit/{{old_project.id}}">{{old_project.name}}</a></td>
                            <td>{{old_project.description}}</td>
                            <td><a href="{{base_path}}/kayttajat/{{old_project.manager}}">{{old_project.person_name}}</a></td>
                            <td>{{old_project.start_date|date("d.m.Y")}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </ul>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}