
{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1>{{task.name}}</h1>

    {% if task.approved %}
    <label class="label label-success">Valmis</label>
    {% elseif task.late %}
    <label class="label label-danger">Myöhässä!</label>
    {% elseif task.current_status == "finished" %}
    <label class="label label-info">Hyväksyttävänä</label>
    {% elseif task.current_status == "underway" %}
    <label class="label label-primary">Työn alla</label>
    {% elseif task.current_status == "pending" %}
    <label class="label label-default">Odottaa</label>
    {% endif %}
    <br><br>

    <h4>Tämä tehtävä kuuluu projektiin <a href="{{base_path}}/projektit/{{task.project}}">{{task.project_name}}</a></h4>
    <h4>Projektipäällikkö: <a href="{{base_path}}/kayttajat/{{task.manager}}">{{task.manager_name}}</a></h4>
    <!--<button type="button" class="btn btn-success btn-sm">Lähetä viesti</button>-->
    <br><br><br>

    <strong>Deadline: {{task.deadline|date("d.m.Y")}}</strong>
    <p>Aloituspäivä: {{task.start_date|date("d.m.Y")}}</p>


    <h3>Kuvaus</h3>

    <p>{{task.description}}</p>
    <br><br>

    {% if user_logged_in.current_rights=="admin" and not task.approved %}
    <form method="post" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/poista" class='delete-form' data-confirm='Haluatko varmasti poistaa tehtävän {{task.name}}? Tätä toimintoa ei voi perua!'>
        <button type=submit class="pull-right btn btn-danger">Poista</button>
    </form>
    <div  class="btn btn-space pull-right"></div>
    <a href="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/muokkaa" class="btn btn-default pull-right">Muokkaa</a>
    {% endif %}
    <br><br>

    <h3>Tiimi</h3>
</div>

<div class="container-fluid">
    <div class="col-xs-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <div class="row">
                <div class="col-xs-8"> 
                    {% for name in names %}      
                    <tbody>                           
                    <td><a href='{{base_path}}/kayttajat/{{name.person_id}}'>{{name.person_name}}</a></td>
                    {% if user_logged_in.current_rights=="admin" and task.current_status != 'finished' %}
                    <td>  
                        <form method="post" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/poistatekija" class='delete-form' data-confirm='Haluatko varmasti poistaa henkilön {{name.person_name}} tiimistä?'>
                            <div class="form-group">
                                <input type='hidden' value="{{name.person_id}}" name='person_id' >
                                <input type='hidden' value="{{name.person_name}}" name='person_name' >
                                <button type=submit class="btn btn-danger">Poista</button>
                            </div>
                        </form>
                    </td>
                    {% endif %}
                    </tbody>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
</table>
</div>
<div class="row">
    <div class="col-xs-4">
        {% if user_logged_in.current_rights=="admin" and not task.approved %}
        <form method="post" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/lisaatekija">
            <div class="form-group">
                <div class="btn-group">
                    <label>Valitse uusi tiimiläinen</label>
                    {% if persons is empty %} <select id="teamselect" class="form-control" disabled></select>
                    {% else %}<select id="teamselect" class="form-control" name="person">{% endif %}
                        {% for person in persons %}
                        <option name="person" value="{{person.id}}">{{person.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button name="id" type="submit" class="btn btn-default pull-right">Lisää</button>
            </div>
        </form>  
    </div>
    {% endif %}
</div>
</div>

{% if user_logged_in.current_rights == "admin" and task.current_status == "finished" and not task.approved %}
<br>
<h4>Tehtävä on merkitty valmiiksi. Hyväksytkö palautuksen?</h4>
<br>
<div class="form-group col-xs-1">
    <form method="post" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/hylkaa" class='delete-form' data-confirm='Haluatko varmasti palauttaa tehtävän {{task.name}} keskeneräiseksi?'>
        <button type="submit" class="btn btn-warning">Hylkää</button>
    </form>
</div>
<div  class="btn btn-space pull-right"></div>
<div class="form-group col-xs-1">
    <form method="post" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/hyvaksy" class='delete-form' data-confirm='Haluatko varmasti hyväksyä tehtävän {{task.name}}?'>
        <button type="submit" class="btn btn-success">Hyväksy</button>
    </form>
</div>
</div>
{% endif %}
{% endblock %}