{% extends "base.html" %}
{% block content %}

<h1>{{task.name}}</h1>

{% if task.approved %}
<label class="label label-success">Valmis</label>
{% elseif task.late %}
<label class="label label-danger">Myöhässä!</label>
{% elseif task.current_status == "finished" %}
<label class="label label-info">Hyväksyttävänä</label>
{% elseif task.current_status == "underway" %}
<label class="label label-primary">Työn alla</label>
{% elseif task.current_status == "pending" %}
<label class="label label-default">Työn alla</label>
{% endif %}
<br><br>

<h4>Tämä tehtävä kuuluu projektiin <a href="{{base_path}}/projektit/{{task.project}}">{{task.project_name}}</a></h4>
<h4>Projektipäällikkö: <a href="{{base_path}}/kayttajat/{{task.manager}}">{{task.manager_name}}</a></h4>
<button type="button" class="btn btn-success btn-sm">Lähetä viesti</button>
<br><br><br>

<strong>Deadline: {{task.deadline}}</strong>
<br>
<p>Aloituspäivä: {{task.start_date}}</p>


<h3>Kuvaus</h3>

<p>{{task.description}}</p>
<br><br>

{% if user_logged_in.current_rights=="admin" %}
<form method="post" class="pull-right" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/muokkaa">
    <button type="button" class="btn btn-default">Muokkaa</button>
</form>
{% endif %}
<br><br>

<h3>Tiimi</h3>

<div class="container-fluid">
    <div class="col-lg-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <div class="row">
                <div class="col-lg-8"> 
                    {% for name in names %}      
                    <tbody>    
                        <tr>
                            <td><a href='{{base_path}}/kayttajat/{{name.person_id}}'>{{name.person_name}}</a></td>
                            {% if user_logged_in.current_rights=="admin" %}
                            <td><a class="btn btn-danger">Poista</a></td>
                            {% endif %}
                            <td><a class="btn btn-success">Lähetä viesti</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </div>
            </div>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if user_logged_in.current_rights=="admin" %}
            <form method="get"" action="{{base_path}}/projektit/{{task.project}}/tehtava/{{task.id}}/muokkaa">
                <button type="button" class="btn btn-default pull-right">Lisää tekijä</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}