html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
}

.btn-space {
    width: 5px;
    height: auto;
    display: inline-block;
}

h2#user {
    color: #31708f;
}

h2#project {
    color: #eea236;
}

h2#omattehtavat {
    color: #269abc;
}

#index {
    color: grey;
}

#main-container{
    max-width: 1000px;
    margin: 0px auto;
}

.navbar .container-fluid {   
    max-width: 1200px;
    margin: 0px auto;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.vertical-align .col-xs-6 {
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 0;
    font-size: 14px;
    float: none;
}
/*
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white;
    text-align: center;
    font-size: 30px;
}*/

.modal-footer {
    background-color: #f9f9f9;
}

.media-object {
    align-content: center;
}

.table th {
    text-align: center;   
}

.glyphicon-ok, .glyphicon-check {
    font-size: 1.3em;
    color: green;
}

.glyphicon-remove, .glyphicon-exclamation-sign {
    font-size: 1.3em;
    color: red;
}

.dropdown-menu {
    width: 250px;
}

.glyphicon-check, .glyphicon-exclamation-sign {
    align-items: flex-end;
}

dropdown-link-text {
    display: inline-block;
    align-content: flex-start;
}
.footer {
    background-color: #444;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    text-align: center;    
}

.form-control{
    width: 700px;
}

#teamselect{
    width: 300px;
}

.form-select{
    width: 250px;
}

.table-responsive{
    overflow-x: auto;
    overflow-y: hidden;
}
.checkbox-inline-own{
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
    vertical-align: middle;
}

form-inline {
    position: absolute;
}
