html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
}

h2#user {
    color: #31708f;
}

h2#project {
    color: #eea236;
}

#index {
    color: grey;
}

#main-container{
    max-width: 1000px;
    margin: 0px auto;
}

.navbar .container-fluid {   
    max-width: 1200px;
    margin: 0px auto;
}

.vertical-align {
    vertical-align: middle;
    letter-spacing: -4px;
    font-size: 0;
}

.vertical-align .col-xs-6 {
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 0;
    font-size: 14px;
    float: none;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.media-object {
    align-content: center;
}

.table th {
    text-align: center;   
}

.glyphicon-ok {
    font-size: 1.3em;
    color: green;
}

.glyphicon-remove {
    font-size: 1.3em;
    color: red;
}

.footer {
    background-color: #444;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    text-align: center;    
}

.form-control{
    width: 700px;
}

.form-select{
    width: 250px;
}

.table-responsive{
    overflow-x: auto;
    overflow-y: hidden;
}
