<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Tietokantasovellus
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">

        {% endblock %}
    </head>

    <body>

        <!-- NAVIGAATIO -->

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">Projektityökalu</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/tsoha/projektit">Projektit
                                <span class="caret"></span></a>

                            <!-- DROPDOWN-MENU PROJEKTEILLE -->

                            <ul class="dropdown-menu">
                                <li><a href="/tsoha/projektit">Projektilistaus</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="/tsoha/projektit/1">Joku proggis</a></li>
                                <li><a href="/tsoha/projektit">Toinen proggis</a></li>
                            </ul>
                        </li>
                        <li><a href="/tsoha/omasivu">Oma sivu</a></li>
                        <li><a href="/tsoha/omattehtavat">Omat tehtävät</a></li>
                    </ul>

                    <!-- MODAL KIRJAUTUMISPONNAHDUSIKKUNA -->
                    <div class="modal fade" id="kirjautumismodal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:35px 50px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Kirjaudu</h4>
                                </div>
                                <div class="modal-body" style="padding:40px 50px;">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Käyttäjänimi</label>
                                            <input type="text" class="form-control" id="usrname" placeholder="Kirjoita sähköpostiosoitteesi">
                                        </div>
                                        <div class="form-group">
                                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Salasana</label>
                                            <input type="text" class="form-control" id="psw" placeholder="Kirjoita salasana">
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" checked> Muista minut tällä laitteella</label>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Kirjaudu</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Peruuta</button>
                                    <p>Unohditko salasanan? <a href="#">Uusi salasana sähköpostiin</a></p>
                                    <p>Ongelmia käyttäjätunnuksen kanssa? <a href="#">Ota yhteys tukeen</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

        </nav>

        <div id="main-container">
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>